@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

:root {
  /* Modo light */
  --lightBg: #BF343F;
  --lightBgHover: #A7D9C6;
  --lightBgCard: #F2F2F2;
  /* Modo escuro */
  --darkBg: #401115;
  --darkBgHover: #76998C;
  --darkBgCard: #757575;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--lightBg);
  color: #333;
}

body.modo-escuro {
  background-color: var(--darkBg);
  color: #171717;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.logo, 
.imagem-botao {
  width: 30px;
  transition: 0.2s ease-in-out;
}

#botao-alterar-tema {
  background: none;
  border: none;
  cursor: pointer;
}

.logo:hover, 
.imagem-botao:hover,
.cartao-pokemon:hover {
  transform: scale(1.05);
  cursor: pointer;
}

main {
  padding: 25px;
}

.listagem-pokemon {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.cartao-pokemon {
  background-color: var(--lightBgCard);
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}
.cartao-pokemon:hover {
  background-color: var(--lightBgHover);
}

.modo-escuro .cartao-pokemon {
  background-color: var(--darkBgCard);
}

.modo-escuro .cartao-pokemon:hover {
  background-color: var(--darkBgHover); 
}

.informacoes {
  display: flex;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 10px;
}

.informacoes span {
  padding: 5px;
  text-transform: uppercase;
  font-size: 17px;
}
.gif {
  width: 90px;
  height: 90px;
}
.tipos {
  display: flex;
  gap: 15px;
}
.tipo {
  padding: 8px;
  border-radius: 10px;
}
.grama {
  background-color: #7ac74c;
}
.veneno {
  background-color: #df67ddfb;
}
.fogo {
  background-color: #ee8130;
}
.voador {
  background: linear-gradient(0deg, #6390f0 40%, #a6a6a6 50%);
}
.agua {
  background-color: #6390f0;
}
.inseto {
  background-color: #a6b91a;
}
.descricao {
  max-height: 80px;
  overflow-y: scroll;
  font-size: 14;
  padding-right: 10px;
}
